.select {
  position: relative;

  select {
    // NOTE: Makes the select element overlap the entire fake select
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 16px; // NOTE: Prevent iPhone zoom on focus
  }

  &--is-mounted {
    // NOTE: Makes real select invisible and puts it behind fake select
    select {
      z-index: 0;
      opacity: 0;
    }
  }

  &--has-touch {
    // NOTE: Puts the invisible real select on top of the fake select to bring up the native select menu on touch
    select {
      z-index: 2;
    }
  }

  &--is-disabled {
    opacity: 0.5;
  }

  &__fake {
    position: relative;
    user-select: none;

    // NOTE: Outline for keyboard users
    .select:not(.select--has-touch) select:focus + & {
      outline: 1px dotted #212121;
      outline: 5px auto -webkit-focus-ring-color;
    }

    ul {
      position: absolute;
      width: 100%;
      background-color: white;
      border: 1px solid black;
      margin: 0;
      font-size: inherit;
    }
  }

  &__element {
    background-color: white;
    border: 1px solid black;
  }

  &__option {
    cursor: pointer;
  }
}
