.button {
  font-size: 1rem;

  &--is-active {
  }

  &--has-icon {
    padding: 0;

    .button__text {
      position: absolute;
      width: 0;
      height: 0;
      left: -999em;
      overflow: hidden;
    }
  }

  &--theme-default {
    padding: 1rem;
  }

  &--theme-big {
    padding: 2rem;
    font-size: 2rem;
  }
}
