.modal {
  position: fixed;
  z-index: 40;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  transform: translateX(100%);
  transition: opacity 0.5s, transform 0s 0.5s, visibility 0s 0.5s;

  &.is-visible {
    transition-delay: 0s;
    transform: none;
    opacity: 1;
    visibility: visible;
  }

  &.fits-on-screen {
    display: flex;
    align-items: center;
  }
}

.modal-background {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(black, 0.2);
}
